version: '3'
services:
  app:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
    container_name: count
    restart: unless-stopped
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    working_dir: /var/www/count
    volumes:
      - '.:/var/www/count'